:root{
	--primary-color:rgb(18, 29, 66);
	--primary-colordark:rgb(18, 29, 66);
}

*{

	box-sizing: border-box;
	outline: 0;
}

body{
	background-color: var(--primary-color);
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	line-height: 1em;
}
.container {
	max-width: 640px;
	margin: 60px auto;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-radius: 20px;
}

form input, form label, form button {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
form input{
	font-size: 24px;
	height: 35px;
	padding: 0 20px;
}
form input:focus{
	outline: 1px solid var(--primary-color);
}

form button{
	border: none;
	background-color: var(--primary-color);
	color: white;
	font-size: 18px;
	font-weight: 700;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;


}
form button:hover{
	background: var(--primary-colordark);
}
form button:active{
	background: rgb(7, 121, 56);
}

main{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
}
.col{
	flex: 1;
}
.paragrafo-resultado, .bad{
	padding: 10px 20px;
	background: rgb(109,255, 182);
}
.bad{
	background: rgb(255, 123, 123);
}

::placeholder{
	font-size: 1em;
}